In [1]:
import pandas as pd
import numpy as np
import re

In [24]:
prac = pd.read_csv("C:\\Users\\Manish411\\Desktop\\practice.csv",header=0)

In [25]:
prac.shape

(2, 2)

In [26]:
data = prac.head()

In [27]:
data

,Data1,Data2
0,1a. What is your Gender?\n\n1a. I am male.\n\n...,3a. Is Pune a good place?\n3a. Pune is a good ...
1,2a. Where are you from?\n2a. I am from New Delhi.,4a. Where is India?\n4a. India is in Asia.

In [28]:
d1 = data["Data1"]
d1

0    1a. What is your Gender?\n\n1a. I am male.\n\n...
1    2a. Where are you from?\n2a. I am from New Delhi.
Name: Data1, dtype: object

In [29]:
d2 = d1[0]

In [30]:
d2 = d2.splitlines()

In [31]:
d2 = [x.strip(' ') for x in d2]

In [32]:
d2
#type(d2)

['1a. What is your Gender?',
 '',
 '1a. I am male.',
 '',
 '1b. Where do you stay?',
 '',
 '1b. I stay at Gurgaon.',
 '',
 '1c. Where do you work?',
 '',
 '1c. I work with RBS.']

In [33]:
l1 = []
for char in d2:
    lst = char[:3]
    l1.append(lst)
    
print(l1)

['1a.', '', '1a.', '', '1b.', '', '1b.', '', '1c.', '', '1c.']

In [34]:
from collections import Counter, defaultdict

def duplicates(lst):
    cnt= Counter(lst)
    return [key for key in cnt.keys() if cnt[key]> 1]

def duplicates_indices(lst):
    dup, ind= duplicates(lst), defaultdict(list)
    for i, v in enumerate(lst):
        if v in dup: ind[v].append(i)
    return ind

In [35]:
print(duplicates(l1))
print(duplicates_indices(l1))

['1a.', '', '1b.', '1c.']
defaultdict(<class 'list'>, {'1a.': [0, 2], '': [1, 3, 5, 7, 9], '1b.': [4, 6], '1c.': [8, 10]})

In [36]:
k = duplicates_indices(l1)
print(k.keys())
k.values()

dict_keys(['1a.', '', '1b.', '1c.'])

dict_values([[0, 2], [1, 3, 5, 7, 9], [4, 6], [8, 10]])

In [37]:
exclude_index = [value[0] for key,value in k.items() if re.match('^[0-9][a-z]\.',key)]
exclude_index

[0, 4, 8]

In [38]:
d2 =[i for j,i in enumerate(d2) if j not in exclude_index]

In [39]:
[i for i in d2 if re.match('(^[0-9][a-z]\..*\?$)',i) is None]

['',
 '1a. I am male.',
 '',
 '',
 '1b. I stay at Gurgaon.',
 '',
 '',
 '1c. I work with RBS.']